{% load bootstrap4 %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Toolbox</title>

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <h1><a href="/" style="text-decoration: underline;
        text-decoration: solid; text-decoration: black ;
         margin-left: 10px">Toolbox</a></h1>
        {% bootstrap_messages %}
        <div style="margin-left: 50px">
        {% block content %}
            Dummy aus basis template
        {% endblock %}
        </div>
    </body>
</html>