<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<div class="col-8 mx-auto">
<h3 style="margin-top: 20px">Anleitung</h3>
<p>Konventionen für den python code:<br></p>
    <p>Input Variablen alphabetisch benennen, ebenso für output Variblen ansonsten kann es zu fehlern kommen.<br></p>
<p>Error ist standardmäßig auf False, wenn auf True gesetzt wird kann die eigene Errormeldung ausgegeben werden <br></p>
<p>Nach diesem Schema sollte alles funktionieren</p>
<p>
    a = int(a) <br>
    b = int(b) <br>
    c = float(c) <br>
    if c > 100: <pre>
    error = True </pre>
    ausgabe1 = a + c <br>
    ausgabe2 = b - c <br>
    a = ausgabe1 <br>
    b = ausgabe2 <br>
</p>

<form action="next" method="post">
    {% csrf_token %}

    <p>Geben sie den namen ihrer App ein: <input type="text" name="appname"></p>
    <p>Geben sie die anzahl der input parameter ein: <input type="number" min="0" name="input"></p>
    <p>Geben sie die anzahl der output parameter ein: <input type="number" min="1" name="output"></p>
    <p>Geben sie ihren python code ein, beachten sie die Konventionen: </p>
    <textarea rows="20" cols="100" name="code"></textarea>
    <p>Geben sie eine Beschreibung ein:</p>
    <textarea rows="10" cols="100" name="description"></textarea>
    <p>Geben sie die error message ein: </p>
    <textarea rows="1" cols="100" name="error"></textarea>
    <br>
    <br>
    <input type="submit" class="btn btn-outline-primary">
    <br>
    <br>
    <br>

</form>
</div>
</body>
</html>