{% extends 'app/base.html' %}

{% block content %}

    <div class="col-8 mx-auto">
        <h3>Anleitung:</h3>
        <p>Konventionen für den Python-Code:<br></p>
        <p>Variablen sollten in den gewünschten Type gecastet werden.</p>
        <p>Bei Einrückungen muss drauf geachtet werden, dass 4 Leerzeichen gemacht werden, sonst wird diese nicht erkannt.</p>
        <p>Input-Variablen alphabetisch benennen, ebenso für Output-Variblen ansonsten kann es zu Fehlern kommen.<br>
        </p>
        <p>Error ist standardmäßig auf False, wenn auf True gesetzt wird, kann die eigene Errormeldung ausgegeben werden.
            <br></p>
        <p>Nach diesem Schema sollte alles funktionieren:</p>
        <p>
            a = int(a) <br>
            b = int(b) <br>
            c = float(c) <br>
            if c > 100:
        <pre>
    error = True </pre>
        ausgabe_1 = a + c <br>
        ausgabe_2 = b - c <br>
        a = ausgabe_1 <br>
        b = ausgabe_2 <br>
        </p>

        <form action="next" method="post">
            {% csrf_token %}

            <p>Geben Sie den Namen ihrer Applikation ein: <input type="text" name="appname" required></p><br>
            <p>Geben Sie die Anzahl der Inputparameter ein: <input type="number" min="0" max="26" step="1" name="input" required></p><br>
            <p>Geben Sie die Anzahl der Outputparameter ein: <input type="number" min="1" max="26" step="1" name="output" required></p><br>
            <p>Geben Sie ihren Python-Code ein, beachten Sie die Konventionen: </p>
            <textarea rows="20" cols="100" name="code" required></textarea>
            <p style="margin-top: 25px">Geben Sie eine Beschreibung ein:</p>
            <textarea rows="10" cols="100" name="description" required></textarea>
            <p style="margin-top: 25px">Geben Sie die Errormeldung ein: </p>
            <textarea rows="1" cols="100" name="error" required></textarea>
            <br>
            <br>
            <input type="submit" class="btn btn-outline-primary">
            <br>
            <br>
            <br>

        </form>
    </div>

{% endblock %}