{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h1 style="margin-left: 50px;">Dezimal zu Octal</h1>

    <h3 style="margin-left: 50px;">Rechner:</h3><br>
    <form style="margin-left: 100px; font-size: 20px;" action="results" method="post">
        {% csrf_token %}

        Gib deine Dezimalzahl ein: <input type="text" name="bin" value="{{ number }}">
        <br>
        <input type="submit" class="btn btn-outline-primary">
        <p>Ergebnis = {{ result }}</p>

    </form><br>

    <h3 style="margin-left: 50px;">Tutorial zum Selbermachen:</h3><br>
    <p style="margin-left: 100px; margin-right:100px; font-size: 20px;">Um eine Dezimalzahl in eine Octalzahl
        umzuwandeln, muss die Dezimalzahl nur durch die Zahl 8 dividiert und der Rest notiert werden.</p>
    <p style="margin-left: 100px; margin-right:100px; font-size: 20px;">Es entsteht ein Rest 0 bis 7, daraus entsteht die
        äquivalente Octalzahl. Folgende Schritte müssen immer wieder durchgeführt werden:</p>
    <ol style="margin-left: 100px; margin-right:100px; font-size: 20px;">
        <li>Die Zahl durch 8 dividieren</li>
        <li>Den Rest der Division notieren</li>
        <li>Falls das Ergebnis nicht 0 ist, Schritt 1 und 2 wiederholen</li>
    <li>Das Ergebnis lässt sich nach Abschluss von unten nach oben aus dem Rest ablesen</li>
    </ol>

    <h4 style="margin-left: 50px;">Beispiel:</h4>
    <div style="margin-left: 100px; margin-right: 100px; font-size: 20px;" class="table table-striped">
        <p>234 / 8 = 29 Rest: 2</p>
        <p>29 / 8 = 3 Rest: 5</p>
        <p>3 / 8 = 0 Rest: 3</p>

    </div>
    <p style="margin-left: 100px; margin-right: 100px; font-size: 20px;">Die Dezimalzahl 234 ergibt daher die Octalzahl:
        352</p>

{% endblock %}