{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h1 style="margin-left: 50px;">Oktal zu Dezimal</h1><br>

    <h3 style="margin-left: 50px;">Rechner:</h3><br>
    <form style="margin-left: 100px; font-size: 20px;" action="results" method="post">
        {% csrf_token %}

        <div>
            Gebe deine Binärzahl ein: <input type="text" name="oct" value="{{ number }}"><br>
            <input type="submit">
            <p>Ergebnis = {{ result }}</p>
        </div>
    </form><br>

    <h3 style="margin-left: 50px;">Tutorial zum Selbermachen:</h3><br>
    <p style="margin-left: 100px; margin-right:100px; font-size: 20px;">Im Oktalsystem erhöht sich das Gewicht jeder
        Ziffer wie dargestellt um den Faktor 8. Dann hat die erste Ziffer
        rechts ein Gewicht von 1 (<span class="ntxt">8<sup>0</sup></span>), die zweite Ziffer ein Gewicht von
        8 (<span class="ntxt">8<sup>1</sup></span>), die dritte ein Gewicht von 64 (<span
                class="ntxt">8<sup>2</sup></span>), die vierte ein Gewicht von 512 (<span
                class="ntxt">8<sup>3</sup></span>) und so weiter.</p>
    <table style="margin-right: 100px; margin-left:100px; font-size: 20px;" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>MSD</th>
            <th colspan="6">Oktalzahl</th>
            <th>LSD</th>
        </tr>
        </thead>
        <tbody>
        <tr style="min-width: 20px;">
            <td>8<sup>7</sup></td>
            <td>8<sup>6</sup></td>
            <td>8<sup>5</sup></td>
            <td>8<sup>4</sup></td>
            <td>8<sup>3</sup></td>
            <td>8<sup>2</sup></td>
            <td>8<sup>1</sup></td>
            <td>8<sup>0</sup></td>
        </tr>
        <tr>
            <td>2.097.152</td>
            <td>262.144</td>
            <td>32.768</td>
            <td>4.096</td>
            <td>512</td>
            <td>64</td>
            <td>8</td>
            <td>1</td>
        </tr>
        </tbody>
    </table><br>
    <p style="margin-left: 100px; margin-right:100px; font-size: 20px;">Durch Addition ALLER Zahlen multipliziert mit
        deren Faktor an
        der jeweilgen Stelle (235&#8328; = 2*64 + 3*8 + 5*1 = 157&#8321;&#8320;), ergibt sich die
        insgesamte Dezimalzahl, also das Ergebnis.</p><br>

{% endblock %}